<section class="container">
    <div class="show-case">
        <h2 class="section-heading">CHRIST THE KING CATHOLIC CHURCH</h2>
        <h3>- THE KING'S FAMILY -</h3>
        <p>- FULL COMMITMENT -</p>
    </div>
</section>

<div class="content container">
    <div>
        <section class="section-info">
            <div class="first-reading-img">
                <h1>First Reading</h1>
            </div>
            <div>
                <h3>First Reading</h3>
                <p>
                    <q>Behold my servant, my chosen one, in whom my soul delights.</q> <br>
                    <span>
                        A reading from the Book of Isaiah (Isaiah 42: 1-4.6-7).
                    </span>
                </p>
                <br>
                <p class="mb-1">
                    Thus says the Lord: Behold my servant, whom I uphold, chosen, in whom my soul delights; I have put
                    my
                    Spirit
                    upon him,
                    he will bring forth justice to the nations...
                </p>


                <a href="#" class="btn btn-read-more">Read more</a>


            </div>

        </section>

        <section class="section-info">
            <div class="second-reading-img">
                <h1>Second reading</h1>
            </div>
            <div>
                <h3>Second Reading</h3>
                <p>
                    <q>God anointed him with the Holy Spirit..</q> <br>
                    <span>
                        A reading from the Acts of the Apostles (Acts 10:34-38).
                    </span>
                </p>
                <br>
                <p class="mb-1">
                    In those days: Peter opened his mouth and said, “Truly I perceive that God shows no partiality, but
                    in
                    every
                    nation any one who fears him and does what is right is acceptable to him...
                </p>

                <a href="#" class="btn btn-read-more">Read more</a>


            </div>

        </section>
    </div>
    <aside class="aside-content ">
        <div class="aside-content-1">
            <h3>Mass Schedule</h3>
            <table>
                <tr>
                    <th>Days</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>7a.m &amp; 9a.m</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>6a.m</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>6a.m</td>
                </tr>
                <tr>
                    <td>Wednessday</td>
                    <td>7pm</td>
                </tr>
            </table>

            <a href="/mass-schedule" class="btn btn-view-more">View more</a>
            <hr>
        </div>

        <div class="announcement">
            <h3>Announcement</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem cupiditate alias perferendis sed in
                voluptatem omnis magnam modi velit expedita!</p>
            <a href="#" class="btn btn-view-more">View more</a>

            <hr>
        </div>
        <div class="upcoming-event">
            <h3>Upcoming Event</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem cupiditate alias perferendis sed in
                voluptatem omnis magnam modi velit expedita!</p>
            <a href="/event" class="btn btn-view-more mb-1 mb-0">View more</a>
        </div>
    </aside>
</div>